<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--支付宝配置-->
		<add key="ALIPay_URL" value="https://mapi.alipay.com/gateway.do?"/>
		<add key="ALIPay_NotifyURL" value=""/>
		<add key="ALIPay_ErrorURL" value=""/>
		<add key="ALI_PARTER" value=""/>
		<add key="ALI_KEY" value=""/>
		<add key="ALI_ACCOUNT" value=""/>

		<add key="ALI_SELLERID" value=""/>
		<add key="ALI_SELLEREMAIL" value=""/>
		<add key="ALI_HTTPS_VERYFY_URL" value="https://mapi.alipay.com/gateway.do?service=notify_verify"/>

		<add key="ALIPay_WAP_SERVICE" value="alipay.wap.create.direct.pay.by.user"/>
		<add key="ALIPay_WEB_SERVICE" value="create_direct_pay_by_user"/>
		<add key="ALIPay_MOBILE_SERVICE" value="mobile.securitypay.pay"/>

		<!--我的私钥-->
		<add key="ALIPay_RSA_PRIVATEKEY" value=""/>
		<!--我的公钥-->
		<add key="ALIPay_RSA_PUBLICKEY" value=""/>
		<!--支付宝公钥-->
		<add key="ALIPay_RSA_ALI_PUBLICKEY" value=""/>

		<!--微信支付配置-->
		<add key="WEPAY_CHARTSET" value="utf-8" />
		<add key="WEPAY_PAY_URL" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
		<add key="WEPAY_ORDERQUERY_URL" value="https://api.mch.weixin.qq.com/pay/orderquery" />
		<add key="WECHAT_AUTH_URL" value="https://open.weixin.qq.com/connect/oauth2/authorize"/>
		<add key="WECHAT_TOKEN_URL" value="https://api.weixin.qq.com/sns/oauth2/access_token"/>
		<add key="WECHAT_CALLBACKIP_URL" value="https://api.weixin.qq.com/cgi-bin/getcallbackip"/>
		<add key="WECHAT_GETTOKEN_URL" value="https://api.weixin.qq.com/cgi-bin/token"/>

		<!--开发者平台配置-->
		<add key="WEPAY_APP_APPID" value="" />
		<add key="WEPAY_APP_MCH_ID" value="" />
		<add key="WEPAY_APP_NOTIFY_URL" value="" />
		<add key="WEPAY_APP_URL" value="" />
		<add key="WEPAY_APP_KEY" value="" />

		<!--公众号平台配置-->
		<add key="WEPAY_WEB_APPID" value="" />
		<add key="WEPAY_WEB_MCH_ID" value="" />
		<add key="WEPAY_WEB_NOTIFY_URL" value="" />
		<add key="WEPAY_WEB_URL" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
		<add key="WEPAY_WEB_KEY" value="" />
	</appSettings>
</configuration>