<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-AW.Webapi.Sample-20160201054737.mdf;Initial Catalog=aspnet-AW.Webapi.Sample-20160201054737;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--支付宝配置-->
    <add key="ALIPay_URL" value="https://mapi.alipay.com/gateway.do?"/>
    <add key="ALIPay_NotifyURL" value=""/>
    <add key="ALIPay_ErrorURL" value=""/>
    <add key="ALI_PARTER" value=""/>
    <add key="ALI_KEY" value=""/>
    <add key="ALI_ACCOUNT" value=""/>

    <add key="ALI_SELLERID" value=""/>
    <add key="ALI_SELLEREMAIL" value=""/>
    <add key="ALI_HTTPS_VERYFY_URL" value="https://mapi.alipay.com/gateway.do?service=notify_verify"/>

    <add key="ALIPay_WAP_SERVICE" value="alipay.wap.create.direct.pay.by.user"/>
    <add key="ALIPay_WEB_SERVICE" value="create_direct_pay_by_user"/>
    <add key="ALIPay_MOBILE_SERVICE" value="mobile.securitypay.pay"/>

    <!--我的私钥-->
    <add key="ALIPay_RSA_PRIVATEKEY" value=""/>
    <!--我的公钥-->
    <add key="ALIPay_RSA_PUBLICKEY" value=""/>
    <!--支付宝公钥-->
    <add key="ALIPay_RSA_ALI_PUBLICKEY" value=""/>

    <!--微信支付配置-->
    <add key="WEPAY_CHARTSET" value="utf-8" />
    <add key="WEPAY_PAY_URL" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
    <add key="WEPAY_ORDERQUERY_URL" value="https://api.mch.weixin.qq.com/pay/orderquery" />
    <add key="WECHAT_AUTH_URL" value="https://open.weixin.qq.com/connect/oauth2/authorize"/>
    <add key="WECHAT_TOKEN_URL" value="https://api.weixin.qq.com/sns/oauth2/access_token"/>
    <add key="WECHAT_CALLBACKIP_URL" value="https://api.weixin.qq.com/cgi-bin/getcallbackip"/>
    <add key="WECHAT_GETTOKEN_URL" value="https://api.weixin.qq.com/cgi-bin/token"/>

    <!--开发者平台配置-->
    <add key="WEPAY_APP_APPID" value="" />
    <add key="WEPAY_APP_MCH_ID" value="" />
    <add key="WEPAY_APP_NOTIFY_URL" value="" />
    <add key="WEPAY_APP_URL" value="" />
    <add key="WEPAY_APP_KEY" value="" />

    <!--公众号平台配置-->
    <add key="WEPAY_WEB_APPID" value="" />
    <add key="WEPAY_WEB_MCH_ID" value="" />
    <add key="WEPAY_WEB_NOTIFY_URL" value="" />
    <add key="WEPAY_WEB_URL" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
    <add key="WEPAY_WEB_KEY" value="" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>